* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: rgb(214, 214, 214);
}

.slider {
    width: 80%;
    height: 373px;
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;

    .slides {
        >img {
            max-width: 100%;
        }

        >img:not(.active) {
            display: none;
        }
    }

    .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .controls {
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & button {
            background-color: rgba(0, 0, 0, 0.316);
            border: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            border-radius: 50%;
            margin: .75rem 0;
            padding: .5rem;
            cursor: pointer;
        }
    }

    .thumbnails {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        .thumbnail {
            overflow: hidden;
            height: calc(100% / 5);
            display: flex;
            align-items: center;
            max-width: 100%;

            & img {
                max-width: 100%;
                position: relative;
            }

            >img:not(.activeImg) {
                filter: brightness(0.3);
            }
        }

        .thumbnail.activeThumb {
            border: 2px solid rgb(255, 255, 255);
        }
    }
}